/* FLEX */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    display: flex;
    align-items: flex-start;
}
div {
    box-sizing: border-box;
}
ul {
   list-style-position: inside;
}

.main-container {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}
.left-container {
    flex: auto;
    color: rgb(175, 175, 175);
    background-color: rgb(47, 49, 54);
    background-color: rgb(28, 30, 35);
    overflow-y: auto;
    overflow-x: hidden;
}
.right-container {
    flex: 0 1 40%;
    min-width: 400px;
    max-width: 400px;
    height: 100%;
    flex-wrap: nowrap;
    align-items: flex-start;
    background-color: rgb(54, 57, 63);
    color: rgb(175, 175, 175);

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.left-header {
    margin: 0px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(37, 39, 43);
    background-color: rgb(49, 54, 65);
    cursor: default;
    user-select: none;
}

.right-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center; 
    padding: 10px;
    width: 100%;
    min-height: fit-content;
}

.right-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center; 
    border-top: 1px solid rgb(67, 69, 75);
    width: 100%;
    padding: 10px;
    overflow-x: hidden;
    min-height: fit-content;
}

.right-content {
    cursor: default;
    flex-grow: 1;
    width: 100%;
}

/* TABLE */

.files-table {
    width: 100%;
    border-spacing: 0px;
}
.dir-tr td.dir-td-entry {
    border-bottom: 1px solid rgb(175, 175, 175);
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.dir-tr td {
    padding-left: 5px;
}
.dir-tr-path {
    font-size: 16px;
}
.dir-tr-add {
    font-size: 28px;
    cursor: pointer;
    text-align: center;
}
.dir-tr-meta {
    font-size: 12px;
}
.dir-tr-meta div {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}
table.files-table tr:hover td {
    color: rgb(229, 246, 247);
    background-color: rgb(54, 57, 62);
    background-color: rgb(32, 40, 57);
    background-color: rgb(72, 75, 81);
}
table.files-table .dir-tr-meta-remove:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* PROFILE */

.name-input {
    width: 100%;
    background: transparent;
    border: none;
    font-size: 20px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    color: rgb(175, 175, 175);
    background-color: rgb(37, 39, 43);
    border-radius: 5px;
    box-shadow: 5px 0 0 rgb(37, 39, 43), -5px 0 0 rgb(37, 39, 43);
}

.edit-f:hover {
    background-color: rgb(37, 39, 43);
    box-shadow: 5px 0 0 rgb(37, 39, 43), -5px 0 0 rgb(37, 39, 43);
    cursor: pointer;
    border-radius: 5px;
}

.neo-f {
    font-style: italic;
}

.desc-input {
    background: transparent;
    border: none;
    font-size: 14px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    color: rgb(175, 175, 175);
    overflow-y: hidden;
    background-color: rgb(37, 39, 43);
    border-radius: 5px;
    box-shadow: 5px 0 0 rgb(37, 39, 43), -5px 0 0 rgb(37, 39, 43);
}

.avatar {
    z-index: 1;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
}

.h-name-desc {
    width: 60%;
    word-wrap: break-word;
}

#name-wait {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 5px;
    box-shadow: 5px 0 0 rgba(100, 100, 100, 0.2), -5px 0 0 rgba(100, 100, 100, 0.2);
    top: 0;
    display: none;
}

#access-wait {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 5px;
    box-shadow: 5px 0 0 rgba(100, 100, 100, 0.2), -5px 0 0 rgba(100, 100, 100, 0.2);
    top: 0;
    left: 0;
    display: none;
}

#desc-wait {
    position: absolute;
    width: 204px;
    height: 64px;
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 5px;
    box-shadow: 5px 0 0 rgba(100, 100, 100, 0.2), -5px 0 0 rgba(100, 100, 100, 0.2);
    top: 0;
    display: none;
}

#avatar-wait {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(100, 100, 100, 0.2);
    z-index: 3;
    top: 0;
    display: none;
}

.spinner {
    position: absolute;
    margin: auto;
    height: fit-content;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#desc-wait .spinner > div {
    width: 12px;
    height: 12px;
}

.h-name-desc .fa-pencil {
    visibility: hidden;
}

.h-name {
    font-size: 20px;
    cursor: default;
    position: relative;
}
.h-name i {
    cursor: pointer;
}

.h-desc {
    font-size: 14px;
    cursor: default;
    position: relative;
}

.h-desc i {
    cursor: pointer;
}

.state-h {
    font-size: 12px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
    letter-spacing: 1px;
    user-select: none;
    text-align: center;
}

#dinvite-code-panel .state-h {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.access-panel {
    margin-bottom: 10px;
}

#access-desc {
    font-size: 14px;
    color: rgb(140, 140, 140);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: italic;
}

.state-f {
    font-size: 14px;
    padding-left: 5px;
    width: 100%;
    text-align: center;
}

#code-copy-tool {
    padding-left: 10px;
    cursor: pointer;
    font-size: 10px;
    visibility: hidden;
}

#code-copy-tool:hover {
    text-decoration: underline;
}

.right-footer button {
    padding: 10px;
    border: none;
    background-color: rgb(114, 137, 218);
    border-radius: 5px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 100px;
    cursor: pointer;
}

.right-footer .foot-net-set {
    text-align: center;
}

.foot-net-state img {
    vertical-align: middle;
    padding: 5px;
}

.right-footer .foot-net-state {
    flex-grow: 1;
    cursor: default;
}

.right-footer .foot-net-state-h {
    font-weight: bold;
}

/* HEAD AVATAR */

.h-avatar {
    position: relative;
}

.avatar_icon {
    top: 0;
    position: absolute;
    display: table;
    z-index: 2;
    opacity: 0;
    width:100px;
    height:100px;
    vertical-align: middle;
    text-align: center;
}

.avatar_icon:hover { 
    opacity:1;
    background:rgba(0,0,0,0.3) center no-repeat;
    cursor: pointer;
    border-radius: 50%;
}

.avatar_icon_inner {
    border-radius: 50%;
    width: 100px;
    height: 80px;
    display:table-cell;
    vertical-align: middle;
    color: white;
}

#qr img {
    display: initial !important;
}

/* TOOLTIPS */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    width: 70px;
    top: 120%;
    left: 50%; 
    margin-left: -35px; /* Use half of the width (120/2 = 60), to center the tooltip */

    font-family: 'Tahoma';
    font-size: 14px;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* SWITCH */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 27px;
  vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
    background-color: rgb(114, 137, 218);
}

input:checked + .slider:before {
  transform: translateX(21px);
}

/* Rounded sliders */
.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

/*  SCROLLBAR */

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/* 3WAY SWITCH */

.access-selector {
    width: 100%;
    border-top: 1px solid rgb(67, 69, 75);
    border-bottom: 1px solid rgb(67, 69, 75);
}

.access-content {
    position: relative;
    padding: 15px;
}

.access-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0px;
}

.access-list li {
    flex: 1;
}

.access-list label {
    display: block;
}

.access-list input {
    display: none;
}

.access-list input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
}

.access-list input[type="radio"]:checked + label {
    background: rgb(114, 137, 218);
    color: white;
}

.access-list label {
    padding: 5px;
    cursor: pointer;
    z-index: 90;
    text-align: center;
    border-bottom: 1px solid rgb(67, 69, 75);
}

.access-list label[for=private-access] {
    border-left: 0px;
    border-right: 1px solid rgb(67, 69, 75);
}

.access-list label[for=public-access] {
    border-right: 0px;
    border-left: 1px solid rgb(67, 69, 75);
}

.access-list label:hover {
     background: rgb(28, 30, 35);
}

/* SPINNER */

.spinner {
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}